.area-tabela-produtos {
    overflow-x: scroll;
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
}

.tabela-produtos {
    white-space: nowrap;
    min-width: 100%;
    border-collapse: collapse;
}

.titulo-tabela-produtos {
    font-weight: normal;
    text-align: center;
    color: #fff;
    background-color: #2980B9;
    padding: 12px 14px;
}

.linha-tabela-produtos:nth-child(odd) .celula-tabela-produtos {
    background-color: #ccc;
}

.celula-tabela-produtos {
    text-align: center;
    padding: 12px 14px;
}

.area-acoes-produto {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.botao-acao-produto,
.botao-form-delecao {
    font-size: .8em;
    padding: 14px 16px;
}

.botao-editar {
    background-color: #008000;
}

.botao-deletar,
.botao-cancelar {
    background-color: #ff0000;
}

.form-edicao {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.campo-obrigatorio {
    color: #ff0000;
}

.campo {
    font-size: .9em;
    padding: 15px 13px;
    border: 1px solid #888;
    border-radius: 8px;
}

.campo:focus {
    border-color: #2980B9;
    outline: none;
    box-shadow: none;
}

.area-botoes-form-edicao {
    display: flex;
    gap: 16px;
}

.botao-form-edicao {
    font-size: .9em;
    padding: 15px 17px;
}

.botao-enviar {
    background-color: #2980B9;
}

.form-delecao {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}