.form-cadastro {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
}

.campo-obrigatorio {
  color: #ff0000;
}

.campo {
  font-size: 0.9em;
  padding: 15px 13px;
  border: 1px solid #aaa;
  border-radius: 8px;
}

.campo:focus {
  border-color: #2980b9;
  outline: none;
  box-shadow: none;
}

.botao-enviar {
  align-self: flex-start;
  font-size: 0.9em;
  background-color: #2980b9;
  padding: 15px 17px;
}

.botao-enviar:hover {
  color: #2980b9;
  background-color: transparent;
  border-color: #2980b9;
}
