.area-botoes-cta {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.botao-cta {
  color: #fff;
  background-color: #2980b9;
  padding: 16px 18px;
  transition: 0.3s;
}

.botao-cta:hover {
  color: #2980b9;
  background-color: transparent;
  border-color: #2980b9;
}
