.area-botoes-chamada-acao {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.botao-chamada-acao {
    color: #fff;
    background-color: #2980B9;
    padding: 16px 18px;
}