<div id="fundo-navbar-lateral" class="fundo esconder"></div>
<nav id="navbar-lateral" class="navbar-lateral esconder">
    <button type="button" id="botao-fechar-navbar-lateral" class="botao-alternar-navbar-lateral botao-fechar-navbar-lateral">
        <i class="bi bi-x-lg"></i>
    </button>
    <ul class="lista-nav-lateral">
        <li>
            <a href="index.php" class="link-nav-lateral">
                <i class="bi bi-house"></i> Início
            </a>
        </li>
        <li>
            <a href="cadastro.php" class="link-nav-lateral">
                <i class="bi bi-plus-square"></i> Cadastro
            </a>
        </li>
        <li>
            <a href="consulta.php" class="link-nav-lateral">
                <i class="bi bi-eye"></i> Consulta
            </a>
        </li>
    </ul>
</nav>